---
layout: base
---



<style>

.subnav {
    position: sticky;
    top: 80px;
    width: 100%;
    background: white;
    border-bottom: var(--border);
    z-index: 8000;
}

.subnav-inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 12px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* SINISTRA */
.subnav-left {
    font-weight: 900;
    font-size: 0.7rem;
    letter-spacing: 2px;
    color: var(--accent);
    text-transform: uppercase;
}

/* DESTRA */
.subnav-right {
    display: flex;
    gap: 25px;
    overflow-x: auto;
}

.subnav-right a {
    font-size: 0.7rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--dark);
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
    white-space: nowrap;
}

.subnav-right a:hover {
    border-color: var(--primary);
    color: var(--primary);
}


</style>









<div class="subnav">
    <div class="subnav-inner">

        <div class="subnav-left">
            ORATORIO
        </div>

        <div class="subnav-right">
            <a href="{{ site.url }}/oratorio/">Overview</a>
            <a href="{{ site.url }}/blog/oratorio/">Blog</a>
            <a href="{{ site.url }}/oratorio/maggio/">Progetti</a>
            <a href="{{ site.url }}/ufficio/contatti/">Contatti</a>
        </div>

    </div>
</div>
{{ content }}