---
layout: base
---
                <main class="">
                    
        <div id="wrap" class="oe_structure"><section class="s_sidegrid pt56 pb56 o_cc o_cc5 o_colored_level" data-snippet="s_sidegrid">
        <div class="container">
            <div class="row o_grid_mode" data-row-count="13">
                <div class="o_grid_item g-col-lg-5 o_colored_level g-height-5 col-lg-5" style="z-index: 1; grid-area: 1 / 8 / 6 / 13; --grid-item-padding-x: 24px;">
                    <h1 class="display-4">Grafica Grafica graficaa!</h1>
    <p><br/></p>
                    <p class="lead">La forza della grafica consiste nel come la vedi, io la vedo come la principale fonte d'ispirazione</p>
    <p><br/></p>
                </div>
                <div class="o_grid_item o_grid_item_image g-height-4 g-col-lg-4 col-lg-4 o_colored_level" style="z-index: 2; grid-area: 1 / 1 / 5 / 5;">
                    <img class="img img-fluid" src="/web/image/website.s_sidegrid_default_image_1" alt="" loading="lazy"/>
                </div>
                <div class="o_grid_item o_grid_item_image o_snippet_mobile_invisible g-col-lg-3 d-lg-block d-none o_colored_level g-height-6 col-lg-3" style="z-index: 3; grid-area: 1 / 5 / 7 / 8;" data-invisible="1">
                    <img class="img img-fluid" src="/web/image/website.s_sidegrid_default_image_2" alt="" loading="lazy"/>
                </div>
                <div class="o_grid_item o_grid_item_image o_snippet_mobile_invisible g-height-9 g-col-lg-4 col-lg-4 d-lg-block d-none o_colored_level" style="z-index: 4; grid-area: 5 / 1 / 14 / 5;" data-invisible="1">
                    <img class="img img-fluid" src="/web/image/website.s_sidegrid_default_image_4" alt="" loading="lazy"/>
                </div>
                <div class="o_grid_item o_grid_item_image o_snippet_mobile_invisible g-col-lg-8 d-lg-block d-none o_colored_level g-height-7 col-lg-8" style="z-index: 5; grid-area: 7 / 5 / 14 / 13;" data-invisible="1">
                    <img class="img img-fluid" src="/web/image/website.s_sidegrid_default_image_3" alt="" loading="lazy"/>
                </div>
            </div>
        </div>
    </section><section class="s_product_catalog oe_custom_bg o_cc o_cc5 pt0 pb40 o_colored_level" data-vcss="002" data-snippet="s_product_catalog">
        <div class="container">
            <h2 style="text-align: left !important;">Ultimi progetti grafici</h2>
    <p class="lead" style="text-align: left !important;">Tutti i miei ultimi progetti grafici</p>
    <p><br/></p>
            <div class="row">
                <div class="col-lg-6 pt16 pb16 o_colored_level">
                    <ul class="list-unstyled my-3">
    <li class="s_product_catalog_dish mb-4" data-name="Product"><p class="s_product_catalog_dish_title d-flex align-items-baseline fw-bold">
            <span class="s_product_catalog_dish_name">Milano</span> <span class="s_product_catalog_dish_dot_leaders flex-grow-1 ms-2 border-top">Grafico</span> <span class="s_product_catalog_dish_price ms-auto ps-3">01.01.2025</span>
        </p><p class="s_product_catalog_dish_description d-block mt-2 pe-5 text-muted">Il museo di arte contemporanea (MoCA)</p></li>
    <li class="s_product_catalog_dish mb-4" data-name="Product"><p class="s_product_catalog_dish_title d-flex align-items-baseline fw-bold">
            <span class="s_product_catalog_dish_name">Parigi</span> <span class="s_product_catalog_dish_dot_leaders flex-grow-1 ms-2 border-top"></span> <span class="s_product_catalog_dish_price ms-auto ps-3">09.09.2025</span>
        </p><p class="s_product_catalog_dish_description d-block mt-2 pe-5 text-muted">Arte Digitale a Parigi</p></li>
    <li class="s_product_catalog_dish mb-4" data-name="Product"><p class="s_product_catalog_dish_title d-flex align-items-baseline fw-bold">
            <span class="s_product_catalog_dish_name">Bruxelles</span> <span class="s_product_catalog_dish_dot_leaders flex-grow-1 ms-2 border-top"></span> <span class="s_product_catalog_dish_price ms-auto ps-3">12.11.2025</span>
        </p><p class="s_product_catalog_dish_description d-block mt-2 pe-5 text-muted">Museo di Arte Digitale di Bruxelles</p></li>
        </ul>
    </div>
                <div class="col-lg-6 pt16 pb16 o_colored_level">
                    <ul class="list-unstyled my-3">
    <li class="s_product_catalog_dish mb-4" data-name="Product"><p class="s_product_catalog_dish_title d-flex align-items-baseline fw-bold">
            <span class="s_product_catalog_dish_name">Amsterdam</span> <span class="s_product_catalog_dish_dot_leaders flex-grow-1 ms-2 border-top"></span> <span class="s_product_catalog_dish_price ms-auto ps-3">02.08.2025</span>
        </p><p class="s_product_catalog_dish_description d-block mt-2 pe-5 text-muted">Grafico'Art</p></li>
    <li class="s_product_catalog_dish mb-4" data-name="Product"><p class="s_product_catalog_dish_title d-flex align-items-baseline fw-bold">
            <span class="s_product_catalog_dish_name">Berlino</span> <span class="s_product_catalog_dish_dot_leaders flex-grow-1 ms-2 border-top"></span> <span class="s_product_catalog_dish_price ms-auto ps-3">12.12.2025</span>
        </p><p class="s_product_catalog_dish_description d-block mt-2 pe-5 text-muted">Festival dell'Arte Digitale di Berlino</p></li>
    <li class="s_product_catalog_dish mb-4" data-name="Product"><p class="s_product_catalog_dish_title d-flex align-items-baseline fw-bold">
            <span class="s_product_catalog_dish_name">Londra</span> <span class="s_product_catalog_dish_dot_leaders flex-grow-1 ms-2 border-top"></span> <span class="s_product_catalog_dish_price ms-auto ps-3">03.01.2026</span>
        </p><p class="s_product_catalog_dish_description d-block mt-2 pe-5 text-muted">Visione contemporanea</p></li>
        </ul>
    </div>
            </div>
        </div>
    </section><section class="s_cta_box o_cc o_cc4 pt56 pb56 o_colored_level" data-snippet="s_cta_box">
        <div class="container">
            <div class="s_card o_card_img_horizontal flex-lg-row-reverse card o_cc o_cc4 o_colored_level" data-snippet="s_card" data-vxml="001" data-name="Card" style="--card-spacer-y: 64px;border-width: 0px !important;border-radius: 0px !important;--card-spacer-x: 0px">
                <figure class="o_card_img_wrapper ratio ratio-1x1 mb-0">
                    <img class="o_card_img o_editable_media" src="/web/image/website.s_cta_box_default_image" alt="" loading="lazy"/>
                </figure>
                <div class="card-body">
                    <h2 class="card-title">
        Scopri le mie ultime creazioni<br/>e opere d'arte digitali!</h2>
                    <p class="card-text">
        Arricchisci il tuo ambiente con le meraviglie uniche dell'arte digitale.<br/><br/></p>
                    <p><br/></p>
                    <a class="btn btn-lg btn-secondary" href="/contactus">&nbsp;Scopri&nbsp;</a></div>
             </div>
        </div>
    </section><section class="s_title o_cc o_cc5 pb0 pt64 o_colored_level" data-vcss="001" data-scroll-background-ratio="0" data-snippet="s_title">
        <div class="container s_allow_columns">
            <h2 style="text-align: center;">
        È tutta una questione di visione
    </h2>
        </div>
    </section><section class="s_image_frame o_colored_level o_cc o_cc5 pt40 pb0" data-snippet="s_image_frame">
        <div class="container">
            <div class="row o_grid_mode" data-row-count="11">
                <div class="o_grid_item o_grid_item_image g-height-11 g-col-lg-12 col-lg-12 order-lg-0 overflow-hidden o_colored_level" style="grid-area: 1 / 1 / 12 / 13;--grid-item-padding-x: 0px;--grid-item-padding-y: 0px;order: 1">
                    <img src="/web/image/website.s_image_frame_default_image" class="img img-fluid mx-auto" alt="" loading="lazy"/>
                </div>
                <div class="o_grid_item g-height-4 g-col-lg-5 col-10 offset-1 col-lg-5 offset-lg-0 order-lg-0 o_cc o_cc1 o_colored_level" style="z-index: 1;grid-area: 7 / 7 / 11 / 12;--grid-item-padding-x: 32px;order: 0;--grid-item-padding-y: 32px !important">
                    <h2 class="h3-fs">Opera in evidenza</h2>
                    <p class="lead">Scegli un'opera vibrante e scrivi un breve paragrafo che ne esprima l'essenza. Deve essere incisivo e coinvolgente.</p>
                </div>
            </div>
        </div>
    </section><section class="s_image_gallery o_spc-small o_masonry o_image_popup o_cc o_cc5 pb56 pt16 o_colored_level" data-vcss="002" data-columns="3" style="overflow: hidden;" data-snippet="s_images_wall">
        <div class="container">
            <div class="row s_nb_column_fixed">
                <div class="o_masonry_col o_snippet_not_selectable col-lg-4">
                    <img class="img img-fluid d-block" src="/web/image/website.library_image_03" data-index="0" data-name="Image" alt="" loading="lazy"/>
                    <img class="img img-fluid d-block" src="/web/image/website.library_image_10" data-index="3" data-name="Image" alt="" loading="lazy"/>
                </div>
                <div class="o_masonry_col o_snippet_not_selectable col-lg-4">
                    <img class="img img-fluid d-block" src="/web/image/website.library_image_13" data-index="1" data-name="Image" alt="" loading="lazy"/>
                    <img class="img img-fluid d-block" src="/web/image/website.library_image_05" data-index="4" data-name="Image" alt="" loading="lazy"/>
                </div>
                <div class="o_masonry_col o_snippet_not_selectable col-lg-4">
                    <img class="img img-fluid d-block" src="/web/image/website.library_image_14" data-index="2" data-name="Image" alt="" loading="lazy"/>
                    <img class="img img-fluid d-block" src="/web/image/website.library_image_16" data-index="5" data-name="Image" alt="" loading="lazy"/>
                </div>
            </div>
        </div>
    </section><section class="s_shape_image o_colored_level o_cc o_cc4 pt56 pb56" data-snippet="s_shape_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 pt16 pb16 o_colored_level">
                    <img class="img img-fluid" data-shape="html_builder/composite/composite_double_pill" data-file-name="s_shape_image_default_image.jpg" data-format-mimetype="image/jpeg" src="https://encrypted-tbn0.gstatic.com/licensed-image?q=tbn:ANd9GcQrAcD6QQZ5vtV98uNuM2eUajPiH2oqPQJNhRfJoxwnW4lgLzwF3s5FuocC4MbV_tQrzXl4-bwrL6nI76vI_Y-7KK9M45upSETheMiriVo2Vcb-nLfMGRxngfZmMq8kFvyL8-QWNUiB&s=19" alt="" loading="lazy"/>
                </div>
                <div class="col-lg-6 offset-lg-1 pt16 pb16 o_colored_level">
                    <h2 class="h3-fs">
        Dylan Doe
    </h2>
                    <p>
        Dylan Doe è un artista digitale rinomato per le sue opere visive innovative che catturano l'immaginazione di spettatori in tutto il mondo.
    </p>
                    <p>
                        <a href="#" class="btn btn-primary o_translate_inline">Contattami</a>
                    </p>
                </div>
            </div>
        </div>
    </section></div>
</main>