---
layout: default
title: "Home"
body_class: "body-immersive"
---

<div class="fullscreen-bg" style="background-image: url('{{ '/assets/images/home-background.jpg' | relative_url }}');"></div>

<div class="page-wrapper">
    <main class="main-content">
        <div class="text-overlay-box anim-ready delay-2">
            <h1 class="overlay-title">Didattica & Illustrazione</h1>
            <p class="overlay-description">Percorsi visivi, laboratori creativi e progetti editoriali</p>
        </div>
    </main>
</div>