---
layout: default
title: "Home"
body_class: "body-immersive"
---

<div class="fullscreen-bg" style="background-image: url('https://images.gog.com/ef64c84dde01d1e666cead270be48cc1aad47076ee5a6c65b84c8c34fbf5a4a9_big_spot_background_943x396_2x.webp');"></div>

<div class="page-wrapper">
    <main class="main-content">
        <div class="text-overlay-box anim-ready delay-2">
            <h1 class="overlay-title">Didattica & Illustrazione</h1>
            <p class="overlay-description">Percorsi visivi, laboratori creativi e progetti editoriali</p>
        </div>
    </main>
</div>